@media (min-width: 0px){
    .miniImagenes{
        width: 60px;
        height: 60px;
        margin-left: 10px;
        
        
    }

    #EspacioProductos img{
        height: 230px;
        width: 240px;
        margin-left: 5%;
        margin-right: 5%;

    }
    .parrafo{
        width: 280px;
    }

    .m20{
        margin-left: 20px;
    }
    .container-foto{
        background-size: cover;
        height: 200px;
    }
}

@media (min-width: 768px){
    .container-foto{
        background-size: cover;
        height: 400px;
    }
    #EspacioProductos{
        display: flex; align-items: center; justify-content: center; 
        flex-wrap: wrap;
    }
    #espacioImagenes{
        display: flex; align-items: center; justify-content: center; 
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .miniImagenes{
        width: 60px;
        height: 60px;
        margin-left: 10px;
        
        
    }
    #EspacioProductos img{
        height: 200px;
        width: 270px;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    .parrafo{
        width: 800px;
    }
}

.card{
    -webkit-box-shadow: 0px 4px 27px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 27px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 27px -1px rgba(0,0,0,0.75);
    height: 420px;
    background-color: white;
    margin: 10px;
}

.card-title{
    margin-left: 1%;
    color: black;
    text-align: center;
    padding-top: 3%;
}

.card-img1{
   
    background-image: url('../img/foto1.png');
    background-size: cover;
    background-color: green;
    
}
.card-img2{
    height: 250px;
    width: 270px;
    background-image: url('../img/hawa.jpg');
    background-size: cover;
    background-color: green;
    margin-left: 5%;
    margin-right: 5%;
}
.card-img3{
    height: 250px;
    width: 270px;
    background-image: url('../img/Colom.jpg');
    background-size: cover;
    background-color: green;
    margin-left: 5%;
    margin-right: 5%;
}
.card-img4{
    height: 250px;
    width: 270px;
    background-image: url('../img/descarga.jfif');
    background-size: cover;
    background-color: green;
    margin-left: 5%;
    margin-right: 5%;
}
.card-img5{
    height: 250px;
    width: 270px;
    background-image: url('../img/epaña.jpg');
    background-size: cover;
    background-color: green;
    margin-left: 5%;
    margin-right: 5%;
}
.card-img6{
    height: 250px;
    width: 270px;
    background-image: url('../img/mexican.jpg');
    background-size: cover;
    background-color: green;
    margin-left: 5%;
    margin-right: 5%;
}

.card-contenido{
    margin-left: 5%;
    text-align: center;
}

.btn-price{
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-decoration: none;
    background-color: darkorange;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.pie-pagina{
    margin-top: 5%;
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
}
.descripcion{
    margin-bottom: 50px;
}
.tituloProducto{
    font-size: 24px;
    font-family: 'Bellota', cursive;
    margin-bottom: 10px;
}



.titulo-descripcion{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.precio-producto{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.btn-comprar{
    text-decoration: none;
    background-color: rgb(255, 187, 0);
    padding: 10px 15px;
    color: white;
    border: 1px solid rgb(255, 196, 4);
    border-radius: 10px;
}

/*login*/

.foto-login{
    height: 300px;
}

.foto-login img{
    width: 100%;
    height: auto;
    
}

@supports(object-fit: cover)
{
    .foto-login img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.titulo-login{
    font-size: 30px;
    font-family: 'Bellota', cursive;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(255, 174, 0);
}

.subtitulo{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top:10px;
}

.btn-entrar{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(219, 57, 28);
    color: white;
    border: 1px solid rgb(182, 52, 29);
    margin-top: 20px;
    margin-bottom: 20px;
}

/*carrito*/
.box-img{
    height: 150px;
}

.box-img img{
    width: 100%;
    height: auto;
    
}

@supports(object-fit: cover)
{
    .box-img img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.title-compras{
    font-size: 30px;
    font-family: 'Bellota', cursive;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(255, 174, 0);
}

.titulo-produducto{
    margin-bottom: 20px;
    font-size: 18px;
}

.margin-bootom-20px{
    margin-bottom: 20px;
}

.btn-pagar{
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(255, 174, 0);
    padding: 15px 30px;
    border-radius: 10px;
    border: solid 2px rgba(255, 136, 0, 0.904);
    
}
